<footer class="bg-dark text-white mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-4">
                <h5>Về Chúng Tôi</h5>
                <p>Mô tả về trang web của bạn và doanh nghiệp của bạn.</p>
            </div>
            <div class="col-md-4 mt-4">
                <h5>Liên hệ</h5>
                <ul class="list-unstyled">
                    <li>Địa chỉ: 123 Đường ABC, Thành phố XYZ</li>
                    <li>Email: contact@example.com</li>
                    <li>Điện thoại: (123) 456-7890</li>
                </ul>
            </div>
            <div class="col-md-4 mt-4">
                <h5>Kết nối với chúng tôi</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fa-brands fa-facebook"></i>  Facebook</a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i>   Twitter</a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i>  LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>
</html>